/*variables*/
$mainColor: #fcff00;
$secColor:#4e598c;
$font1: 'Poppins', sans-serif;
/*global start*/
body
{
    padding: 0;
    margin: 0;
    font-family: $font1;
    position:relative;
}
/*global end*/
/*landing starts*/
 .landing
 {
     padding:0;
     margin:0;
     width: 100%;
     position: relative;
     height: 100vh;
     background: url('../img/Landing\ Image.png') no-repeat;
     text-align: center;
     background-size: 100% 100%;
     .a
     {
         text-align: center;
         position: absolute;
         top: 75%;
         left: 0;
         a
         {
             
             background-color: #000;
             color: #fff;
             border: 2px solid #fff; 
             transition: all .5s ease-in-out;
             padding: 7px 25px;
             border-radius: 35px;
             outline: none;
             text-align: center;
             text-decoration: none;
         }
         a:hover
         {
             background-color: $secColor;
    
         }
     }
     .down
     {
         position: absolute;
         left: 50%;
         bottom: 10px;
         color: $mainColor;
         font-size: 30px;
         animation: down 3s infinite;
     }
     @keyframes down
     {
         0%{bottom: 10px;}
         50%{bottom: 40px;}
         100%{bottom: 10px;}
     }
 }
 
 /* The side navigation menu */
 .sidenav 
 {
    height: 100%; 
    width: 0;
    position: fixed; 
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s;
     a 
     {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    a:first-of-type
    {
        margin-top: 50px;
    }
    .brand
    {
        position: absolute;
        left: 30px;
        top:20px;
        border-radius: 5px;
        width: 60px;
        height: 60px;
    }
     a:hover 
    {
        color: $mainColor;
    }
    
    .closebtn 
    {
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 36px;
        color:$secColor;
        cursor: pointer;
    }
}
.openbtn
{
    position: fixed;
    top: 30px;
    left: 20px;
    z-index:9999;
    padding-left: 20px;
    font-size: 30px;
    cursor: pointer;
    svg
    {
        color: $mainColor;
    }
}
/*side nav end*/
/*about start*/
.about
{
    padding-top: 100px;
    text-align: center;
    font-family: $font1;
    h2
    {
        font-family: $font1;
        font-weight: 700;
        text-transform: capitalize;
        span
        {
            color: $mainColor
        }
    }
    hr
    {
        margin: 20px auto;
        width: 140px;
        height: 5px;
        background: $secColor
    }
    .box
    {
        margin: auto;
        width: 100%;
        height: 350px;
        border: 10px solid $mainColor;
        box-sizing: border-box;
        transition: all 1s ease-in-out;
        margin-bottom: 50px;
        .text
        {
            width: 100%;
            height: 100%;
            background: #000;
            margin: 0;
            color: #fff;
            padding: 20px;
            font-size: 16px;
            transform: scale(.9,.9);
            transition: all 1s ease-in-out;
            h2
            {
                margin: 0;
                margin-bottom: 20px;
            }
            p
            {
                margin: 0;
            }
        }
    }
    .box:hover .text
    {
        transform: scale(1,1)
    }
}
.FAQ
{
    
    margin-top: 50px;
    h2
    {
        font-family: $font1;
        font-weight: 700;
        text-align: center;
        text-transform: capitalize;
    }
    hr
    {
        margin: 20px auto;
        width: 140px;
        height: 5px;
        background: $secColor
    }
    .tabs
    {
	    margin: 50px auto;
	    width:50%;
        font-size: 16px;
        text-align: left;
        P   
        {
	        font-size: 15px;
        }
        h3
        {
	        padding: 17px;
            margin: 0;
            font-size: 17px;
	        background-color:#fcff00;
	        color: #000;
	        text-transform: capitalize;
            cursor: pointer;
            text-align: left;
            border-bottom:1px solid rgba(0,0,0,.5);
        }
        div
        {
             padding: 10px;
             color: #fff;
	         background:#000;
	         display: none;
        }
    }
    @media only screen and (max-width: 700px) 
    {
        .tabs
        {
            width: 100%;
        }
    }
}
.Sponsors
{
    margin-top: 50px;
    font-family: $font1;
    height: 70vh;
    h2
    {
        font-family: $font1;
        text-align: center;
        font-weight: 700;
        text-transform: capitalize;
    }
    hr
    {
        margin: 20px auto;
        width: 140px;
        height: 5px;
        background: $secColor;
        margin-bottom: 50px;
    }
    .o
    {
        height: 360px;
        background: url('../img/o.JPG');
        background-size: 100% 100%;
        text-align: center;
        .k
        {
            padding: 20px;
            color: #fff;
            background: #000;
            border-radius: 30px;
            border: none;
            margin-top: 230px;
            transition: all .5s ease-in-out;
        }
        .k:hover
        {
            background:$secColor;
        }
        .modal-body
        {
            text-align: left;
            address
            {
                display: inline-block;
            }
        }
    }
    .i
    {
        height:360px;
        background: url('../img/i.JPG');
        background-size: 100% 100%;
    }
}
.footer
{
    margin-top: 100px;
    width: 100%;
    background: #000;
    text-align: center;
    color: #fff;
    position: absolute;
    ul
    {
        list-style: none;
        margin: auto;
        li
        {
            display: inline-block;
            padding: 20px;
            transition: all .5s ease-in-out;
            a
            {
                text-decoration: none;
                color:#fff;
                transition: all .4s ease-in-out;
                button
                {
                    border:none;
                    background: transparent;
                    padding: 3px;
                    margin: 0;
                    font-size: 14px
                }
                button:hover
                {
                    color: $mainColor;
                    background: transparent;
                }
                h4
                {
                    color:#000;
                }
                .modal-body
                {
                   color: #000;
                   text-align: left
                }
            }
            a:hover
            {
                color:$mainColor;
            }
        }
       
    }

}
@media only screen  and(max-width:700px)
{
    .footer
    {
        bottom:-15%;
    }
}
.up
{
	position: absolute;
	right: 20px;
	bottom: 20px;
	z-index: 9999;
	position: fixed;
	width: 40px;
	height: 40px;
	background: $mainColor;
	border-radius: 15%;
	padding: 12px;
	color: #fff;
	font-size: 20px;
	display: none;

    svg
    {
     padding-bottom: 0;
     margin-bottom: 6px;
    }
}